body * {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  background: #0066ff;
  color: #fff;
  display: block;
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
}
nav b {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.sign-in {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.button {
  /* color: #ffffff; */
  /* background-color: #43a047; */
  /* border-radius: 5px; */
  /* cursor: pointer; */
  /* height: 30px; */

  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
.button:hover {
  background-color: #0056b3;
}
.content {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 15px auto 0;
  border-radius: 15px;
  color: #000000;

  /* width: 400px; */
  /* background: #f2f2f2; */
  padding: 1.3em;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(11, 11, 11, 0.5);
}

.check-color {
  background-color: #0066ff;
}

.info-chack {
 font-size: 23px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

#password {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 9px 10px;
}

/* #password:hover,
#password:focus {
	box-shadow: 0 0 5px #000000;
} */

.bold {
  font-weight: bold;
}

#showpass {
  vertical-align: top;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
